*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "Montserrat", "RobotoRegular", sans-serif;
	font-size: 13px;
	color: #fff;
}

h3{
	font-family: "Roboto";
	font-size: 29px;
	font-weight: 300;
	line-height: 50px;

}
p{
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
}
ul{
	padding: 0;
}
.row{
	margin: 0; 
}
.ta_right{
	background-image: none;
	padding-left: 0;
	text-align: right;
}
/*-------------- top_info ---------------*/
.topInfo{
	font-family: "Roboto", sans-serif;
	background: #000;
	line-height: 2.5;
	height: 40px;
}

.topInfo .addressInfo{
    margin: 4px 65px 0 0;
    display: inline-block;
}
.container{
	padding: 0;
}
.addressInfo a,
.addressInfo {
	color: #bdbdbd;
	line-height: 28.5px;
	font-weight: 300;
}
.addressInfo i {
	color: #FFFDFD;
}

.addressInfo a:hover{
	color: #ec495e;
}

/*-----referenceGroupSotsseti ICONS -------*/

.referenceGroupSotsseti{
	text-align: right;
}
.referenceGroupSotsseti .icon {
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 3px;
    margin: 7px -3px 0 2px;
    display: inline-block;
    background-color: #2B2D3F;
}
.referenceGroupSotsseti .icon a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 0 0 0;
}

.referenceGroupSotsseti .icon .fa {
	font-size: 11px;
    vertical-align: text-top;
    color: #D9D9D9;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: auto;
}
.referenceGroupSotsseti .icon .fa:hover {
    color:  #2B2D3F;
}
.referenceGroupSotsseti .icon:hover {
     background-color: #fff;
     color:  #2B2D3F;
}

/*-end----referenceGroupSotsseti icon---------*/
/*-- end ------------ top_info ---------------*/
/*-------------------header-------------------*/
header{
	background-image: url(../img/showcase_bg.jpg);
	background-repeat: repeat-x;
	background-position: top center;	
	min-height: 960px;
	background-size: cover;
}





.menu_wrap {
	text-align: right;
}
header .logo_wrap, 
header .nav {
	padding-top: 40px;
}
header .row {
	margin: 0;
}
header .row .col-lg-12,
header .row .col-mg-12 {
	padding: 0;
}
.nav li {
    list-style-type: none;
    padding-left: 40px;
    display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}
.nav li a {
	color: #fff;
}
.nav>li:first-of-type>a,
.nav li a:hover {
	color: #ec495e;
}
.nav li li {
    
}


#touch_menu {
	display: none;
	position: absolute;
	top: 85px;
	right: 15px;
	font-size: 35px;
	line-height: 35px;
	color: #fff;
}
#touch_menu:hover {
	opacity: 0.7;
}







header h1 {
	text-align: center;
	color: #e8be99;
	font-family: "Satisfy";
	font-size: 46px;
	font-weight: 100;
	padding-top: 170px;
	margin:  10px 0;
}
header h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 44px;
	line-height: 57px;
	letter-spacing: 5px;
	margin: 0;
}
header p {
	margin: 10px 0 20px;
}
header .tell_number {
	font-family: "RobotoLight";
	text-align: center;
	font-size: 22px;
	line-height: 38px;
}
.btn_book_online {
    text-align: center;
	text-transform: uppercase;
	background: #ec495e;
	font-size: 16px;
	width: 200px;
	line-height: 49px;
	border-radius: 3px;
}

.btn_book_online:hover {
	background: #E6384F;
}
.btn_book_online a{
	display: block; 	
    height: 100%;	
	font-weight: bold;
	color: #fff;
}

/*-- end -----------------header----------------*/
/*--------------conteiner_honors-----------*/
.conteiner_honors {
	color: #000;
	border-bottom: 2px solid #E6E5E5;	
}	
.conteiner_honors .row{
	margin: 0;
}
.conteiner_honors .col-lg-3,
.conteiner_honors .col-md-3{
	padding: 0;
} 
.conteiner_honors .content{
	padding: 45px 20px 0 30px;
	min-height: 220px;
}
.conteiner_honors .img_content{
	vertical-align: top;
	display: inline-block;
	margin: 0 30px 20px 0;
	height: 82px;
	width: 82px;
}

.conteiner_honors .text_content{
	display: inline-block;
	width: 50%;
	font-family: "RobotoLight";
	font-size: 19px;
}
.conteiner_honors h4{
	word-wrap: break-word;
	margin-top: 10px;
	margin-bottom: 16px;
}
.conteiner_honors .text_content p{
	color: #bdbdbd;
	font-size: 14px;
	line-height: 24px;
	font-width: 300;
}

.conteiner_honors .img_content img { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; 		/* IE 6-9 */  
  /*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale"); 
  /* не срабатыывает  Firefox 4+ */
	opacity: 0.5;
}
.conteiner_honors .content:hover .img_content img { 
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: none;
  opacity: 1;
}

/*---класс, при наведении на объект подчеркивает его---*/

.cmn_t_underline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 4px;
  background-color: #98004a;
  content: "";
  transition: width 0.2s;
}

.cmn_t_underline:hover:after {
  width: 100%;
}
/*---класс, при наведении на объект подчеркивает его---*/

/*-end-------------conteiner_honors-----------*/

/*----------------conteiner_adt---------------------*/

.container_adt {
	color: #000;
	padding: 100px 0 70px 0;
}
.adt_info {
	padding: 70px 0 0 45px;
}
.container_adt h3{
	line-height: 45px;
}
.container_adt>.container>.row>.col-lg-6:first-child {
	padding: 0 15px 0 0;
}
.container_adt>.container>.row>.col-lg-6:last-child {
	padding: 0 0 0 15px;
}
/*s
.container_adt p{
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
}*/
.container_adt .quote {
	font-family: "Montserrat";
	font-size: 18px;
	line-height: 36px;
	margin-top: 80px;
	position: relative;
}
.container_adt .quote:before {
	position: absolute;
	content: "\201c";
	left: -45px;
	font-size: 70px;
	line-height: 1;
}
.container_adt a {
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ec495e;
	text-decoration: underline;
	line-height: 80px;
}

.container_adt a:hover {
	color: #000000;
}

.adt_imgs .col-lg-6:first-child {
	padding: 0 5.5px 11px 0;
}
.adt_imgs .col-lg-6:last-child {
	padding: 0 0 11px 5.5px;
}

/*--- класс делает widht = height ---*/

/*.box {
	margin-left: auto;
	margin-right: auto;
	padding-top: 50%;
	padding-bottom: 50%;

}*/
/*--- класс делает widht = height ---*/
.adt_imgs {
	/*background-size: auto;*/
}
.adt_img_1{
	background: url(../img/home-2.jpg) no-repeat;
}
.adt_img_2{
	background: url(../img/home-3.jpg) no-repeat;
}
.adt_img_3{
	background: url(../img/home-4.jpg) no-repeat;
}
.adt_img_4{
	background: url(../img/home-5.jpg) no-repeat;
}



/*-end------------conteiner_adt---------------------*/

/*------------------container_menu------------------*/

.container_menu .col-lg-3{
	padding: 0;
} 

.container_menu .forums_menu {
	background-color: rgba(0, 0, 0, 0.2);	
	height: 700px;
	background-size: cover;
	position: relative; 
	background-position: center center;
	position: relative;
}
.container_menu .forums_menu>div {/**/
	position: absolute; 
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%); 
	width: 100%; 
	height: auto;	
	text-align: center;

}
.container_menu .text_hover {
	display: none;
	height: 0;
	padding: 0 40px;
}
.container_menu .forums_menu:hover .text_hover {
	display: block;
	height: auto;
}
/*
.container_menu .forums_menu:hover:before {
	transform: translate(-100%, -100%);
}
.container_menu .forums_menu:hover:before {
	transform: translate(100%, 100%);
}
.container_menu .forums_menu:before {
	content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
    transition: .5s;
	
	transform: translate(0%, 0%);
	background: rgba(236,73,94,0.2);
	box-sizing: inherit
}
.container_menu .forums_menu:after {
	content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
    transition: .5s;
	transform: translate(0%, 0%);
	background: rgba(236,73,94,0.2);
	box-sizing: inherit;
}
*/

.container_menu h3{
	text-transform: uppercase; 
	font-weight: bold;
	font-size: 37px;
	letter-spacing: 5px;
	margin: 0 40px;

}


.container_menu .starters{
	background-image: url("../img/starters.jpg");
}
.container_menu .main_courses{
	background-image: url("../img/main-courses.jpg");
}
.container_menu .desserts{
	background-image: url("../img/desserts.jpg");
}
.container_menu .drinks{
	background-image: url("../img/drinks.jpg");
}





/*--end-------------container_menu------------------*/


/*----------------container_people_saying-----------*/

.container_people_saying {
	background-color: #f8f9f0;
	color: #767676;
	padding: 100px 0 50px 0;
}
.container_people_saying h3 {
	text-align: center;
	color: #000;
	margin: 0;
}
.container_people_saying p {
	text-align: center;
	margin: 10px;
}
.container_people_saying i {
	font-size: 40px;
	color: #EEEEEE;
	margin: 22px 10px 15px 10px;
}
.container_people_saying .people_say {
	text-align: left;
	min-height: 200px;
}

.container_people_saying .who_says {
	padding: 10px 0 50px 10px;
}

.container_people_saying .who_says div{
	float: left;
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	color: #3C3C3C;
	font-size: 18px;
}
.container_people_saying .imgs_say{
	height: 70px;
	width: 70px;
	border-radius: 35px;
	margin-right: 20px;

}
.container_people_saying .img_say_1{
	background-image: url("../img/testimonials-1.jpg");
}
.container_people_saying  .img_say_2{
	background-image: url("../img/testimonials-2.png");
}
.container_people_saying .img_say_3{
	background-image: url("../img/testimonials-3.jpg");
}
.container_people_saying .who_says div p:first-of-type{
	font-weight: 400;
	color: #3C3C3C;
	font-size: 18px;
	text-align: left;
	margin: 0;
}
.container_people_saying .who_says div p:last-of-type{
	font-size: 14px;
	text-align: left;
	margin: 0;
}
/*-- end ------------ container_people_saying -----------*/


/*--------------------chef_recommends--------------------*/
.chef_recommends .row{
	margin: 0;
}

.chef_recommends {
	color: #000;
	padding: 90px 0 90px 0;
}
.chef_recommends .col-lg-3{
	padding: 0 1px 0 0px;
}
.chef_recommends .text_recommend{
	text-align: center;
}
.text_recommend h3{
	color: #000;
	margin: 0;
}
.text_recommend p{
	color: #767676;
	margin: 10px 0 50px 0;
}

/*------- отношение сторон 4х3 ----------- */
.chef_recommends .point_recommend .ratio4_3 {
	position: relative;
	width: 100%;	
}
.chef_recommends .point_recommend .ratio4_3:before{
	content: "";
	display: block;
	padding-top: 75%;
}


.chef_recommends .point_recommend .imgs_recom{
	background-size: cover;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
/*- end ----- отношение сторон 4х3 ---------*/
.chef_recommends .point_recommend .imgs_recom a{
	display: block;
	height: 100%;
	width: 100%;
}

.chef_recommends .point_recommend .img_recom_1{
	background-image: url("../img/recom-1.jpg");
}
.chef_recommends .point_recommend .img_recom_2{
	background-image: url("../img/recom-2.jpg");
}
.chef_recommends .point_recommend .img_recom_3{
	background-image: url("../img/recom-3.jpg");
}
.chef_recommends .point_recommend .img_recom_4{
	background-image: url("../img/recom-4.jpg");
}
.chef_recommends .point_recommend .img_recom_5{
	background-image: url("../img/recom-5.jpg");
}
.chef_recommends .point_recommend .img_recom_6{
	background-image: url("../img/recom-6.jpg");
}
.chef_recommends .point_recommend .img_recom_7{
	background-image: url("../img/recom-7.jpg");
}
.chef_recommends .point_recommend .chefs_special{
	color: #fff;
	background-color: #ec495e;
	padding: 7px 14px;
	text-transform: uppercase;
	display: inline-block;
	position: absolute;
	margin: 30px;
	border-radius: 3px;
}

.chef_recommends .info_recom{
	padding: 20px 30px 12px 30px;
}
.chef_recommends .info_recom .name_price{ 
	line-height: 15px;
}
.chef_recommends .info_recom .name_price a{ 
	text-transform: uppercase;
	color: #000;
	font-weight: 500;
	font-size: 15px;
}
.chef_recommends .info_recom .name_price a:hover{ 
	color: #ec495e;
}
.chef_recommends .info_recom .name_price span{ 
	color: #ec495e;
	font-weight: bold;
	text-align: right;
}
.chef_recommends .info_recom .description_dish{
	color: #ACACAC;
	font-size: 13px;
}
/*-- end -------------chef_recommends--------------------*/

/*-----------------container_cook_say---------------*/

.container_cook_say {
	background: #ebeddb; /* Old browsers */
	background: -moz-linear-gradient(left, #f8f9f1 0%, #fbfbf9 50%, #f8f9f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f8f9f1), color-stop(50%, #fbfbf9), color-stop(100%, #f8f9f1)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(left, #f8f9f1 0%, #fbfbf9 50%, #f8f9f1 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(left, #f8f9f1 0%, #fbfbf9 50%, #f8f9f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #f8f9f1 0%, #fbfbf9 50%, #f8f9f1 100%); /* IE10+ */
	background: linear-gradient(to right, #f8f9f1 0%, #fbfbf9 50%, #f8f9f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f9f1', endColorstr='#f8f9f1', GradientType=1); /* IE6-9 */
}
.container_cook_say .col-lg-5 {
	height: inherit;
}

.container_cook_say img {
	width: 100%;
}
.container_cook_say h4,
.container_gallery h4{
	color: #e8be99;
	font-family: "Satisfy";
	font-size: 30px;
	font-weight: 100;
	padding-top: 130px;
	margin: 0px;
	line-height: 40px;
}
.container_cook_say h3{
	color: #000;
	line-height: 20px;
}
.container_cook_say p{
	color: #777;
	margin: 50px 0 0 0;
}
.container_cook_say .autograph {
	font-family: 'Mr De Haviland';	
	font-size: 43px;
	line-height: 90px;
  	-moz-transform: rotate(-10deg);  /* Firefox */
  	-o-transform: rotate(-10deg);  /* Opera */
	-webkit-transform: rotate(-10deg);  /* Safari y Chrome */
	margin: 0px 0 0px 0;
}

/*--end------------container_cook_say---------------*/


/*----------------container_gallery---------------*/
.container_gallery {
	/*position: relative;*/
	text-align: center;
	/*height: 575px;*/
	color: #fff;
	overflow: hidden;
}

.container_gallery .cafe_inside {
	background-image: url("../img/cafe-inside.jpg");
	background-repeat: no-repeat;	
	background-position: 50% 0%;
	background-size: cover;
	/*transform: translate(0px, 47px);*/
	/*position: absolute;*/
	/*bottom: 0;*/
	/*left: 0;*/
    width: 100%;

	padding: 0 15px;
}
.container_gallery h4{
	padding-top: 105px;
}
.container_gallery h3 {
	margin-top: 0px;
	line-height: 40px;
}

.container_gallery .btn_book_online{
	background: none;
	border: 2px solid #ec495e;
	color: #fff;
	margin-top: 50px;
	margin-bottom: 120px;
}
.btn_book_online:hover {
	background: #E6384F;
}
/*--end------------container_gallery---------------*/


/*-----------------container_map-------------------*/
.container_map .row{
	margin: 0;
}
/*--end-------------container_map-------------------*/



/*--------------------- footer --------------------------*/

footer .row{
	margin: 0px;
}
footer .container_subscribe{
	background-image: url("../img/subscribe_bg.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	padding: 55px 0 55px 0;
}
.container_subscribe h3 {
	margin: 0;
}
.container_subscribe p {
	line-height: 31px;
	margin: 0;
}
.container_subscribe .col-lg-5{
	margin: 20px 0 0 0;
}
.container_subscribe input{
	background-color: #211D1D;
	color: #8B8B8B;
	font-size: 14px;
	border: none;
	padding: 19px 30px;
	width: 59%;

}

.container_subscribe input:focus {
    background: #fff; 
    -webkit-box-shadow: 0px 0px 15px #fff;
    -moz-box-shadow: 0px 0px 15px #fff;
    box-shadow: 0px 0px 15px #fff;

    outline: none;
}
.container_subscribe button {
	background-color: #ec495e;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	border: none;
	padding: 19px 30px;
	width: 39%;
	border-radius: 3px;
	position: relative;
	left: -3px;
}

.container_subscribe button:hover{
	background: #E6384F;
	outline: none;
}
footer .info_down {
	background-color: #181818;
	text-align: justify;
	padding: 40px 0 75px 0;
}

footer .info_down h3{
	line-height: 15px;
}
.info_down .col-lg-3 {
	padding: 0 4px 4px 0;
}
.info_down .inst_img_row a {
	display: inline-block;
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
}
.info_down .inst_img_row {
	-webkit-background-size: cover;
	background-size: cover;
}

.info_down .inst_img_1{
	background: url("../img/inst-1.jpg") no-repeat;
}
.info_down .inst_img_2{
	background: url("../img/inst-2.jpg") no-repeat;
}
.info_down .inst_img_3{
	background: url("../img/inst-3.jpg") no-repeat;
}
.info_down .inst_img_4{
	background: url("../img/inst-4.jpg") no-repeat;
}
.info_down .inst_img_5{
	background: url("../img/inst-5.jpg") no-repeat;
}
.info_down .inst_img_6{
	background: url("../img/inst-6.jpg") no-repeat;
}
.info_down .inst_img_7{
	background: url("../img/inst-7.jpg") no-repeat;
}
.info_down .inst_img_8{
	background: url("../img/inst-8.jpg") no-repeat;
}

.info_down .inst_img_row p {
    opacity: 0;
    font-size: 30px;
    margin: 0;
	padding: 0;
    text-align: center;
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.info_down .inst_img_row p .fa {
    vertical-align: middle;
    padding-top: calc(50% - 15px);
}
.inst_img_row:hover p {
    opacity: 1;
    background: rgba(0,0,0,0.5);
}

footer .down_icons {
	background-color: #000;
}
footer .down_icons p {
	color: #7b7b7b;
	font-size: 14.5px;
	line-height: 40px;
}

footer .referenceGroupSotsseti {
	padding-top: 18px;
}	
.down_icons a{
	color: inherit;
}
.down_icons .referenceGroupSotsseti {
	float: right;
}
.down_icons a:hover {
	color: #bf3d34;
}
.down_icons .fa{
	line-height: 21px;
	padding-right: 15px;
}


/*- end -------------------- footer --------------------------*/











.limiter{
	background-color: #000;
}

.box {
	margin-left: auto;
	margin-right: auto;
	padding-top: 50%;
	padding-bottom: 50%;
}