/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	/*===================TOP INFO =================*/
	
	.topInfo{
		height: 75px;
	}

	.topInfo .row{
		margin: 0;
	}
	.topInfo .addressInfo{
	    margin: 4px 30px 0 0;
	}
	.adt_info {
		padding: 70px 0 0 45px;
	}
	.topInfo .addressInfo:last-of-type {
	    margin: 4px 0 0 0;
	}
	.topInfo .col-md-12{
		text-align: center;
	}
	.referenceGroupSotsseti{
		text-align: center;
	}
	/*- end --------------------top_info---------------*/

	/*-----------------------header--------------------*/
	header{
		background-size: 1350px auto;
		min-height: 700px;
	}
	header .row{
		margin: 0;
	}
	header .row .col-lg-12,
	header .row .col-mg-12 {
		padding: 0;
	}
	header .logo_wrap,
	header .nav{
		padding-top: 25px;
	}

	header .menu_wrap {
		text-align: left;
	}
	.nav li {
	    padding-left: 0px;
	    padding-right: 40px;
	}
	header h1 {
		padding-top: 90px;
	}
	/*-end------------------ header -------------*/

	/*--------------conteiner_honors-----------*/

	.conteiner_honors .content{
		min-height: 300px;
	}
	.conteiner_honors .img_content {
		display: block;
		margin: auto;
	}
	.conteiner_honors .text_content {
		display: block;
		width: 100%;
		padding: 0 0 10px 30px;
	}
	.conteiner_honors h4{
		font-weight: 50px; 
		margin-top: 15px;
		margin-bottom: 0px;
	}

	/*-- end ------------conteiner_honors-----------*/
	/*----------------conteiner_adt---------------------*/
	.container_adt .adt_info {
		padding: 0 0 0 80px;
	}
	.container_adt .adt_imgs{
		padding: 0 20px 0 0;
	}
		.container_adt>.container>.row>.col-md-6 {
		padding: 0 15px;
	}
	/*--  end  ----------conteiner_adt-------------------*/
	/*------------------container_menu------------------*/

.container_menu .forums_menu{
	height: 500px;
}

/*--end-------------container_menu------------------*/
/*----------------container_people_saying-----------*/

.container_people_saying .people_say {
	text-align: left;
	min-height: 220px;
}
/*-- end --------------container_people_saying-----------*/
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
/*-------------------header-------------------*/
	header .nav {
	   padding-top: 85px;
	}

/*--- end ----------------header-------------------*/
/*--------------conteiner_honors-----------*/


/*-- end ------------conteiner honors-----------*/
/*----------------conteiner_adt---------------------*/
	.container_adt .adt_info {
		padding: 0px 0 0 35px;
	}
	.container_adt h3{
		margin: 0;
	}
	.container_adt .quote:before {
		left: 0px;
		top: -40px;
	}
	.container_adt>.container>.row>.col-md-6:first-child {
		padding: 0 15px 0 0;
	}
	.container_adt>.container>.row>.col-md-6:last-child {
		padding: 0 0 0 15px;
	}


/*--  end  ----------conteiner_adt-------------------*/
/*----------------container_people_saying-----------*/

	.container_people_saying .people_say{
		min-height: 270px;
	}
	.container_people_saying .who_says div p:first-of-type{
		font-weight: 400;
		color: #3C3C3C;
		font-size: 18px;
		text-align: left;
		margin: 0;
	}
	.container_people_saying .who_says div p:last-of-type{
		font-size: 13px;
		text-align: left;
		margin: 0;
	}
/*-- end --------------container_people_saying-----------*/
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
/*-- end ------------ top_info ---------------*/
	.topInfo{
		height: 60px;
	}
	.topInfo .row{
		margin: 0;
	}
	.topInfo .addressInfo {
		display: none;
	}
	.topInfo .referenceGroupSotsseti{
		margin-top: 10px; 
	}
	.topInfo .icon {
		margin-left: 16px; 
	}
/*-- end ------------ top_info ---------------*/
/*-------------------header-------------------*/
	header{
		background-size: 820px auto;
		min-height: 425px;
	}

	header .row {
		margin: 0;
	}
	header .nav {
	    display: none;
	}
	#touch_menu{
		display: inline-block;
	}

	header h1 {
		padding-top: 35px;
		font-size: 36px;
	}
	header h2 {
		font-size: 28px;
		line-height: 35px;
		letter-spacing: 3px;
		margin-bottom: 30px;
	}
	header .tell_number {
	display: none;
	}
/*--- end ----------------header-------------------*/
/*--------------conteiner_honors-----------*/

	.conteiner_honors .content{
		padding: 50px 0 40px 90px;
		min-height: 180px;
		border-bottom: 2px solid #E6E5E5;
	}
	.conteiner_honors .img_content{
		display: inline-block;
		margin: 0 ;
	}

	.conteiner_honors .text_content{
		display: inline-block;
		width: 50%;
		font-family: "RobotoLight";
		font-size: 19px;
		padding: 0 0 0 15px;
	}
	.conteiner_honors h4{
		word-wrap: break-word;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.conteiner_honors .text_content p{
		color: #bdbdbd;
		font-size: 14px;
		line-height: 14px;
		font-width: 300;
		padding: 0;
	}


/*-- end ------------conteiner_honors-----------*/
/*----------------conteiner_adt---------------------*/
	.container_adt {
		padding: 40px 0 10px 0;
	}
	.container_adt .adt_info,
	.container_adt .adt_imgs {
		padding: 0 5%;
		margin: 0 auto;
	}
	.container_adt>.container>.row>.col-sm-6:first-child,
	.container_adt>.container>.row>.col-sm-6:last-child {
		padding: 0 15px;
	}
/*--  end  ----------conteiner_adt-------------------*/
/*------------------container_menu------------------*/
	.container_menu .forums_menu{
		height: 225px;
	}

	.container_menu .forums_menu:hover .text_hover{
		visibility: hidden;
		height: 0;
	}
/*--end-------------container_menu------------------*/
/*----------------container_people_saying-----------*/
	.container_people_saying {
		padding: 50px 0 50px 0;
	}
	.container_people_saying h3{
		margin: 0 100px;
		line-height: 42px;
	}
	.container_people_saying .col-xs-10{
		float: none;
		margin: 0 auto;
	}
	.container_people_saying .people_say {
		min-height: 0;
	}
	.container_people_saying .who_says {
		padding: 10px;
	}

/*-- end --------------container_people_saying-----------*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	/*--------------conteiner_honors-----------*/

	.conteiner_honors .content{
		padding: 50px 0 40px 10px;
	}
	.container_adt .adt_info,
	.container_adt .adt_imgs {
		padding: 0 0;
		margin: 0 auto;
	}

/*-- end ------------conteiner_honors-----------*/
/*----------------conteiner_adt---------------------*/
	.container_adt {
		padding: 40px 0 30px 0;
	}
	.container_adt>.container>.row>.col-sm-6:first-child,
	.container_adt>.container>.row>.col-sm-6:last-child {
		padding: 0 15px;
	}
/*-- end --------------conteiner_adt---------------------*/
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}