/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	/*===================TOP INFO =================*/
	.topInfo{
		height: 75px;
	}
	.topInfo .addressInfo{
	    margin: 4px 30px 0 0;
	}
	.topInfo .addressInfo:last-of-type {
	    margin: 4px 0 0 0;
	}
	.topInfo .col-md-12{
		text-align: center;
	}
	.referenceGroupSotsseti{
		text-align: center;
	}
	/*- end --------------------top_info---------------*/

	/*-----------------------header--------------------*/
	header{
		background-size: 1350px auto;
		min-height: 700px;
	}
	header .row{
		margin: 0;
	}
	header .row .col-lg-12,
	header .row .col-mg-12 {
		padding: 0;
	}
	header .logo_wrap,
	header .nav{
		padding-top: 25px;
	}

	.menu_wrap {
		text-align: left;
	}
	.nav li {
	    padding-left: 0px;
	    padding-right: 40px;
	}
	header h1 {
		padding-top: 90px;
	}
	/*-end------------------ header -------------*/

	/*--------------conteiner_honors-----------*/

	.conteiner_honors .content{
		min-height: 300px;
	}
	.conteiner_honors .img_content {
		display: block;
		margin: auto;
	}
	.conteiner_honors .text_content {
		display: block;
		width: 100%;
		padding: 0 0 10px 30px;
	}
	.conteiner_honors h4{
		font-weight: 50px; 
		margin-top: 15px;
		margin-bottom: 0px;
	}

	/*-- end ------------conteiner honors-----------*/
	}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/*-------------------header-------------------*/
	header .nav {
	   padding-top: 85px;
	}

/*--- end ----------------header-------------------*/
/*--------------conteiner_honors-----------*/


	/*-- end ------------conteiner honors-----------*/
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
/*-- end ------------ top_info ---------------*/
	.topInfo{
		height: 60px;
	}
	.topInfo .row{
		margin: 0;
	}
	.topInfo .addressInfo {
		display: none;
	}
	.topInfo .referenceGroupSotsseti{
		margin-top: 10px; 
	}
	.topInfo .icon {
		margin-left: 16px; 
	}
/*-- end ------------ top_info ---------------*/
/*-------------------header-------------------*/
	header{
		background-size: 820px auto;
		min-height: 425px;
	}

	header .row {
		margin: 0;
	}
	header .nav {
	    display: none;
	}
	#touch_menu{
		display: inline-block;
	}

	header h1 {
		padding-top: 35px;
		font-size: 36px;
	}
	header h2 {
		font-size: 28px;
		line-height: 18px;
		letter-spacing: 3px;
		margin-bottom: 30px;
	}
	header .tell_number {
	display: none;
	}
/*--- end ----------------header-------------------*/
/*--------------conteiner_honors-----------*/

.conteiner_honors .content{
	padding: 50px 0 40px 90px;
	min-height: 180px;
	border-bottom: 2px solid #E6E5E5;
}
.conteiner_honors .img_content{
	display: inline-block;
	margin: 0 ;
}

.conteiner_honors .text_content{
	display: inline-block;
	width: 50%;
	font-family: "RobotoLight";
	font-size: 19px;
	padding: 0 0 0 15px;
}
.conteiner_honors h4{
	word-wrap: break-word;
	margin-top: 0px;
	margin-bottom: 0px;
}
.conteiner_honors .text_content p{
	color: #bdbdbd;
	font-size: 14px;
	line-height: 14px;
	font-width: 300;
	padding: 0;
}


/*-- end ------------conteiner honors-----------*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}